{:deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  org.clojure/tools.reader {:mvn/version "1.5.0"}
  org.clojure/data.json {:mvn/version "2.5.1"}
  org.clojure/tools.cli {:mvn/version "1.1.230"}
  org.clojure/java.jdbc {:mvn/version "0.7.12"}
  org.xerial/sqlite-jdbc {:mvn/version "3.47.1.0"}
  com.bhauman/rebel-readline {:local/root "rebel-readline"
                              :exclusions [rewrite-cljs/rewrite-cljs]}}

 :paths ["src/common" "src/jvm" "resources" "classes"]

 :aliases
 {:test {:extra-paths ["test"]}

  :test-runner {:main-opts ["-m" "cognitect.test-runner"]
                :extra-deps {com.cognitect/test-runner
                             {:git/url "https://github.com/cognitect-labs/test-runner.git"
                              :sha "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}}

  :depstar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.117"}}}

  :sci {:extra-paths ["src/clob-sci"]
        :extra-deps {fipp/fipp {:mvn/version "0.6.27"}
                     org.babashka/sci {:mvn/version "0.9.44"}
                     borkdude/edamame {:mvn/version "1.4.27"}}}

  :lint {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
         :main-opts ["-m" "cljfmt.main" "--file-pattern" "(?<!clojure_main_sci)\\.clj[csx]?$" "check"]}

  :lint/fix {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
             :main-opts ["-m" "cljfmt.main" "--file-pattern" "(?<!clojure_main_sci)\\.clj[csx]?$" "fix"]}

  :kaocha {:extra-paths ["test"]
           :main-opts ["-m" "kaocha.runner"]
           :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}}}
