{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        ;; higher versions of jline fail native image compilation
        org.jline/jline-reader {:mvn/version "3.24.1"}
        org.jline/jline-terminal {:mvn/version "3.24.1"}
        ;; deprecated, replaced by JNI provider. neither seems to compile on higher versions
        org.jline/jline-terminal-jansi {:mvn/version "3.24.1"}
        io.github.weavejester/cljfmt {:git/tag "0.13.0" :git/sha "f0230c3358fa0c30d29528ee21d2dc024ff6ddda"}
        compliment/compliment {:mvn/version "0.6.0"}}
 :paths ["src" "classes"]
 :deps/prep-lib
 {:ensure "classes/clob/readline/line_reader_class/ClobLineReaderImpl.class"
  :alias :prep
  :fn compile}
 :aliases
 {:test {:extra-paths ["test"]}
  :test-runner {:main-opts ["-m" "cognitect.test-runner"]
                :extra-deps {com.cognitect/test-runner
                             {:git/url "https://github.com/cognitect-labs/test-runner.git"
                              :sha "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}}
  :prep {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.5.1" :git/sha "21da7d4"}}
         :ns-default prep}}}
